.hk_home {
    height: 100vh;
    background-color: white;
    position: relative;

    .hk_swiper {}

    .hk_nav {
        display: flex;
        background-color: white;
        padding: 10px;

        .hk_nav_item {
            display: flex;
            align-items: center;
            justify-content: center;
            flex: 1;
            text-align: center;

            .item_wrrapper {
                img {
                    width: 80%;
                    margin: auto;
                }

                p {}

            }
        }

    }

    .hk_news {
        background-color: white;

        .hk_news_title {
            padding: 5px;

            span {
                font-size: 1rem;
                font-weight: 600;

            }
        }

        .hk_news_content {

            .hk_news_item {
                display: flex;
                border-bottom: 1px solid #ccc;
                .hk_news_img_wrapper {
                    padding: 10px;
                    flex: 1;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }

                .hk_news_item_info {
                    flex: 5;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    .hk_news_item_info_top {
                        padding: 5px;
                        text-align: center;

                        span {
                            font-size: 1rem;
                            font-weight: 500;
                        }
                    }

                    .hk_news_item_info_bottom {
                        display: flex;
                        justify-content: space-between;
                        color: #ccc;

                        .hk_news_item_info_from {
                            padding: 5px;
                        }

                        .hk_news_item_info_to {
                            padding: 5px;
                        }
                    }
                }


            }
        }
    }


    }

    .hk_group {
        background-color:#f6f5f6;
        padding:5px;
        .hk_group_title {
            display: flex;
            justify-content: space-between;
            padding:5px;
            color:#ccc;
            span:nth-child(1) {
                font-size: 1rem;
                font-weight: 600;
                color:black;
            }
        }

        .hk_group_content {
            display: flex;
            flex-wrap: wrap;;
            .hk_group_item {
                border: 5px solid #f6f5f6;
                background-color:white;
                width: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                .hk_group_item_desc {
                    flex:1;
                    text-align: center;
                    .hk_group_item_titleone {
                        font-weight: 600;
                    }

                    .hk_group_item_titletwo {}
                }

                .hk_group_imageWrapper {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex:1;
                    img {
                        
                    }
                }
            }
        }
    }
