.search_input {
    display: flex;
    height: 35px;
    width: 100%;
    overflow: hidden;
    .search_input_content {
      margin-left: 10px;
      display: flex;
      background-color: white;
      align-items: center;
      flex:8;
      border-radius: 5px;
      .search_input_city {
        padding: 0 10px;
        display: flex;
        align-items: center;
        border-right: 1px solid #ccc;
        span {
  
        }
  
        i.iconfont.icon-arrow {
  
        }
      }
  
      .search_input_inp {

        display: flex;
        align-items: center;
        i.iconfont.icon-seach {
          padding: 0 10px;
        }
        span {
          color:#ccc;
        }
      }
    }
  
    .search_input_map {
      padding:5px;
      color:white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex:1;
      i.iconfont.icon-map {
        font-size: 24px;
      }
    }
  }